

<body>

<h2 id="my_name">Деревянко Любовь Сергеевна</h2>

<div class="column">
  <%= image_tag('avatar.jpg', size: "478x350") %>
</div>
<div class="column">
  <ul>
  <li class="list"><%= link_to "Обо мне", "#" %></li>
  <li class="list"><%= link_to "Мои работы", "#" %></li>
  <li class="list"><%= link_to "Сделать заказ", "#" %></li>
  <li class="list"><%= link_to "Контакты", "#" %></li>
</ul>
</div>
</body>